:root {
  --words-padding: 20px;
}

.words {
  width: 100vw;
  margin-top: var(--form-h);
  padding: var(--words-padding);
  font-family: 'Open Sans', sans-serif;

  &__item {
    --p: calc(var(--words-padding) / 2);
    height: auto;
    display: flex;
    flex-flow: column;
    color: #535353;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.17);
    padding: 0 var(--p);
    margin-bottom: var(--words-padding);

    &__word {
      font-size: 3rem;
      text-transform: capitalize;
      font-weight: 300;
      margin-bottom: 10px;
      appearance: none;
      font-weight: normal;
    }

    &__defs {
      list-style: none;
      &__item {
        margin-bottom: var(--words-padding);
        &__def {
          font-size: 1.75rem;
          font-weight: 300;
          margin-bottom: calc(var(--words-padding) / 4);
        }

        &__eg {
          font-size: 1.25rem;
          font-style: italic;
          font-weight: 100;
        }
      }
    }
  }
}
