:root {
  --form-h: 80px;
  --form-thin-w: calc(var(--form-h) * 4 / 5);
}
.form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 10px;
  background-color: rgb(41, 41, 41);

  display: flex;
  height: var(--form-h);
  width: 100vw;

  &__input {
    appearance: none;
    border: none;
    font-size: calc(var(--form-h) / 4);
    width: calc(100% - var(--form-thin-w) - var(--form-h) / 15);
    padding: 4%;

    &--thin {
      width: var(--form-thin-w);
      text-align: center;
      color: #ffffff;
      background-color: #d0a44c;
      padding: 0;
    }
  }
}
